.myCard {
    height: 100%;
    width: 100%;
    max-height: calc(100%);
    text-align: left;
    background: linear-gradient(214deg, rgba(212, 136, 28, 1) 0%, rgb(255, 64, 0) 100%);


}

.cardContent {
    word-break: break-all;
    -ms-word-break: break-all;
    /* -ms-text-overflow: ellipsis; */
    height: calc(35%);
    width: calc(100%);
    padding: 0.5rem;
    background-color: whitesmoke;
    border-radius: var(--border-radius);
    /* text-overflow: ellipsis; */
    overflow: hidden;
    margin-bottom: 0.5rem;

    /* display: inline-block;
    */
}


.cardContent p {
    -ms-word-break: break-all;
    -ms-text-overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    /* display: inline-block;
    white-space: nowrap; */
}

.carousel {
    height: calc(45%);
    width: calc(100%);
    max-height: calc(100%);
}

.carouselItem {
    height: calc(100%);
    max-height: calc(100%);
    width: calc(100%);
}


.carouselImage {
    display: flex;
    justify-content: center;
    height: calc(100%);
    max-height: calc(100%);
    max-width: calc(100%);
    object-fit: contain;
    border-radius: var(--border-radius);

}